body { background-color: lightgreen;}
 h1 {   font-size: 90px;
        color: darkgreen;
        text-align: center;
        font-family: 'Lobster Two', cursive;
    }
    h2 { font-size: 75px;
        color: darkgreen;
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        }
        
    /* nav bar*/
ul {display: flex;
        list-style-type: none;
       background-color: midnightblue 
  }

     li a 
  {display: block;
    color: white;
    padding: 20px 20px;
   }
    li {display: inline;}

  /*flex box*  */
.flex-container {
    flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: darkgreen;
    }

    .flex-container >div {
        padding: 10px;
        color: white;
        font-family: 'Libre Baskerville', serif;
        font-size: 40px;
           }

    p {
        text-align: center;
        font-family: 'Libre Baskerville', serif;
               }

    input {
        display: block;
    }

     /* --start form--> */
    input[type=text] {
        margin: 25px;
        margin-left: 20px;
        width: 80%;
        padding: 12px 20px;
        margin-top: 20px 0;
        box-sizing: border-box;
    }

    input[type=number] {
        
        margin-left: 20px;
        width: 80%;
        padding: 12px 20px;
        margin-left: 20px 0;
        box-sizing: border-box;
    }
     /* --end form--> */
     
    .flex-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-direction: inline;
        margin-top: 10px;
    }

    .columnA {
        line-height: 31px;
         border: 10px;
        border-style: double;
        border-color: midnightblue;
        padding: 5px;
        font-family: 'Lobster Two', cursive;
        width: 33%;
        
    }
    .columnB {margin-left: 20px;
        padding-top: 20px;
        width: 60%;
    }
     
   
