.nav {
    height: 190xpx;
    background-color: #333333;
    color: #3333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

h1 {
    color: #e07A5F;
    background-color: #3333;
}

.title {
    color: #39a458;
}

h2 {
    color: #39a458;
}

.werk {
    color: #39a458;
    background-color: #3333;
}



#heroCaption h1 {
    font-family: 'Great Vibes', cursive
}