body {
    font-family: 'Montserrat', sans-serif;
}

.nav-list {
    background: rgba(255, 255, 255, .5);
    box-shadow: 0py 0px 10px var(--clr-gray200);
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 3rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.box {
    min-height: 50px;
    width: 30%;
    background: #FFF;
    border-radius: 2px;
    padding: 12px;
    margin-top: 12px;
}