body {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: #f43649;
}

h2 {
  font-size: 24px;
}
h3 {
  background-color: #f43649;
  color: white;
  font-size: 30px;
  padding: 10px;
}

#flexWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  bottom: 1150px;
  width: 100%;
}

#introTitle {
  font-size: 24px;
}
#introTitle a {
  text-decoration: none;
  color:white;
  transition: .5s;
}

#introTitle a:hover {
  font-size: 32px;
  position: relative;
  bottom: 10px;
  text-decoration: underline;
}

.card {
  width: 25%;
  margin: 20px;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: -2px 7px 14px -1px rgba(0,0,0,0.50);
  transition: 1s;
  background-color: #ffffffeb;
}

.card:hover {
  background-color: red;
  color: white;
}

.student a {
  padding: 10px 15px;
  text-decoration: none;
  font-family: 'Merienda', cursive;
  transition: .5s;
  color: grey;
}

.student a:hover {
  font-size: 30px;
  color: white;
}

video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 1200px;
object-fit: cover;
}
.video-wrapper {
width: 100%;
height: 1200px;
position: relative;
overflow: hidden;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
